body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(120deg, #e3f2fd, #f9f9f9);
}
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0d47a1;
  color: white;
  padding: 15px 30px;
  border-radius: 6px;
}

.header-left h1 {
  margin: 0;
  font-size: 22px;
}

.header-left span {
  font-size: 14px;
  color: #bbdefb;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.college-logo {
  height: 55px;
  width: auto;
  background: white;
  padding: 4px;
  border-radius: 6px;
}

.logout-btn {
  background: #e53935;
  border: none;
  color: white;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.logout-btn:hover {
  background: #c62828;
}

/* SECTIONS */
section,
.box {
  background: white;
  padding: 20px;
  margin-top: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* LOGIN */
.login-container {
  max-width: 400px;
  background: white;
  padding: 25px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.login-container h2 {
  text-align: center;
  color: #0d47a1;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background: #0d47a1;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background: #08306b;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table th {
  background: #1976d2;
  color: white;
  padding: 10px;
}

table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/* LOGIN PAGE CENTER */
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 350px;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #0d47a1;
}

/* FOOTER */

.footer {
  background: #0d47a1;
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 14px;
  margin-top: auto; /* THIS IS THE KEY */
}
